.vs/
bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.tmp
*.cache

TestResults/
packages/

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# binary data
*.dll
*.exe
*.so
*.gh
*.onnx
*.zip
*.data
*.pth



